<div class="grid-item" id="{{id}}" onclick="window.open('{{url}}', '_blank')">
	{{! dynamic partial rendering }}
	{{#dynamicPartial}}
	    _{{type}}
	{{/dynamicPartial}}

	{{! always render overlay }}
	<div class="overlay">
		<div>
			<!-- <a class="remove" href="#" data-id="{{id}}" data-key="{{key}}">X</a> -->
			<div class="inner blogName">{{user}}</div>
		</div>
	</div>
</div>
