<div class="grid-item" id="{{id}}">
	{{! dynamic partial rendering }}
	{{#dynamicPartial}}
	    _{{type}}
	{{/dynamicPartial}}

	{{! always render overlay }}
	<!-- <div class="overlay">
		<a target="_blank" href="{{url}}">
			<div>
				<div>X</div>
				<a class="remove" href="#" data-id="{{id}}" data-key="{{key}}">X</a>
				<div class="inner blogName">{{user}}</div>
			</div>
		</a>
	</div> -->
</div>
